 .cards > ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr; /* Default: single column for mobile */
  grid-gap: 16px; /* Space between cards */
} 

.cards > ul > li{
  position: relative;
  margin:20px;
}

.cards > ul > li >p{
  margin:0;
}

 .cards-card-para{
display: block;
} 

.cards-card-para.hidden {
  display: none;
}

.cards-card-body { /* Match your image bg color */
text-align: center;
background: #484646;
padding: 80px 40px 40px;
  color: #fff;
}

 .cards .cards-card-image {
  margin-bottom: -70px; 
  margin-left: 10px;
  margin-right: 10px;
  line-height: 0;
  display: block;
}

.cards-card-image img {
  width: 100%;
  display: block;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.report-button{
    padding: 13.8px 15px;
    font-family: "Open Sans SemiBold", "Open Sans", sans-serif;
    text-align: left;
    display: inline-block;
    border-radius: 0;
    color: white;
    background: #004E9A; 
}

@media (width >= 768px) {
  .cards > ul {
    grid-template-columns: repeat(3, 1fr); /* 3 cards in a row for wider screens */
  }
} 

