
.test {
    height: 100px;
    background-color: black;
    border: 3px solid red;
    color: white;
    margin: 10px;
     word-spacing: 80px;
}
    

.button {
    background-color: rgb(245, 172, 15);
}


